[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = git@github.com:g-truc/glm.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "ThirdParty/SPIRV-Cross"]
	path = ThirdParty/SPIRV-Cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
[submodule "ThirdParty/assimp"]
	path = ThirdParty/assimp
	url = git@github.com:assimp/assimp.git
[submodule "ThirdParty/GSL"]
	path = ThirdParty/GSL
	url = git@github.com:microsoft/GSL.git
